@model WebApplication3.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<p class="text-danger">@Model.Message</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
