@model WebApplication3.Models.ViewModels.SuccessViewModel
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<h2 class="text-primary">@Model.Message</h2>

<p>
    <strong>Value:</strong> <code>@Model.Value.ToString("F2")</code>
</p>
<p>
    <strong>New balance:</strong> <code>@Model.Balance.ToString("F2")</code>
</p>
